<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Productos::Listado</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<form action="#" th:action="@{listaProductos}" method="get">
			<label>Bodega: </label> <select id="idStorage" name="idStorage"
				class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<option value="0">Seleccione opción</option>
				<option th:each="storage : ${storages}"
					th:value="${storage.id_storage}" th:utext="${storage.storage_name}" />
			</select> <input type="submit" value="Buscar: ">
		</form>


		<table class="table table-light table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Nombre</th>
					<th>Grado calidad
					</td>
					<th>Cantidad total
					</td>
					<th>Número cajas
					</td>
					<th>Fecha de ingreso
					</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.product_name}"></td>
					<td th:text="${product.quality_grade}"></td>
					<td th:text="${product.total_amount}"></td>
					<td th:text="${product.cant_boxes}"></td>
					<td th:text="${product.createdAsShort}"></td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>